:root {
    height: 100%;
}
body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    padding-left: 2vh;
    padding-right: 2vh;
}
footer {
    width: auto;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    max-height: 250px;
}
.container {
    width: 100%;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Galada', cursive;
}
h4 {
    font-size: 3vh;
}
h2 {
    padding: 2vh;
}
h3 .city-name, p{
    color: white;
}
button {
    margin: 1vh;
}
a {
    margin-right: 0 !important;
}
.modal-button {
    padding:0 auto;
}
.modal {
    overflow-y: hidden;
}
.card, .card-action:last-child {
    border-radius: 1vh;
}
.card, .card-content{
    padding: 5px
}
.card-title {
    font-size: 20px;
    font-family: 'Galada', cursive;
    border-bottom: 2vh;
}
.card-image {
    max-width: 250px;
}
.card:hover {
    -webkit-transform:scale(1.01);transform:scale(1.01);
    box-shadow: 0 0 10px rgb(233, 127, 127);     
}
.gradient-right{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))
}
.gradient-left{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1))
}
.copyright-text {
    padding-left: 2vh;
}
.link-container {
    display:flex;
    margin: 0 2vh;
}
.link {
    padding: 0 1vh;
    border-left: .1vh inset grey;
}
.link-right {
    padding: 0 1vh;
    border-left: .1vh inset grey;
    border-right: .1vh inset grey;
}
.restaurant-link {
    margin-right: 0;
}
.image-container {
    margin-left: auto;
    margin-right: auto;
}
.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: black          !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}

.eventful-large {
  position: relative    !important;
  width: 140px          !important;
  font-size: 15px       !important;
  line-height: 17px     !important;
  font-weight: bold     !important;
}

.eventful-medium {
  position: relative    !important;
  width: 100px          !important;
  font-size: 12px       !important;
  line-height: 13px     !important;
}                     
                      
.eventful-small {     
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}