:root {
    height: 100%;
}

h1,h3{
    font-family: 'Galada', cursive;  
}

h3{
    color: white;
}
 .card .card-content{
     padding: 5px;
 }
 .card .card-title {
    font-size: 20px;
    font-family: 'Galada', cursive;
    
}